ion-tab-bar, ion-tab-button{
    background-color: #f5f5f5;
    border-top-color:#989aa2;
   }
   
.tab-selected{
    background-color:#efefef;  
}

.header{
    background:#0f5996;
    color: #ffffff;
  }
  
  .ricevuta{
    color:red;
  }
  
  .offerta{
    color:green;
  }

  