<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Storico Attività</ion-title>
    <!-- button chatbot -->
   <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <img src="/assets/chatbot.png" style="height:45px;">
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="primary"><ion-icon name="search"></ion-icon></ion-fab-button>
      <ion-fab-button color="primary"><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >
        <ion-tab-button class="tab-selected" [routerLink]="'/attivita-storico'">
          <ion-label>Storico</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/attivita-svolte'">
          <ion-label>Svolte</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/attivita-ricevute'">
          <ion-label>Ricevute</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
 
  
  <ion-list lines="none">
      <ion-list-header class="header">
        <ion-label>Storico Attività</ion-label>
      </ion-list-header>
      
    
    <ion-item [routerLink]="'/attivita-ricevute'">
        <ion-avatar slot="start">
            <img src="/assets/avatar1.png">
        </ion-avatar>
        <ion-label>
         <b>Carmen Santoro</b>
         <p>Consulenza Giuridica</p>
         <p>14/01/2020</p>
             <p>Saldo:<ion-icon slot="start" color="medium" name="remove-circle"></ion-icon>1h 30 min</p>
         <p class="ricevuta">Attività: Ricevuta</p>  	
        </ion-label>
        <ion-icon slot="start" color="medium" name="arrow-forward"></ion-icon>
      </ion-item>

      <ion-item [routerLink]="'/attivita-svolte'">
          <ion-avatar slot="start">
              <img src="/assets/avatar2.png">
          </ion-avatar>
          <ion-label>
           <b>Vittorio Cibelli</b>
           <p>Assistenza Informatica</p>
           <p>09/01/2020</p>
               <p>Saldo:<ion-icon slot="start" color="medium" name="add-circle"></ion-icon>2h</p>
            <p class="offerta">Attività: Svolta</p>  	
          </ion-label>
          <ion-icon slot="start" color="medium" name="arrow-back"></ion-icon>
      </ion-item>
    
    <ion-item [routerLink]="'/attivita-ricevute'">
        <ion-avatar slot="start">
            <img src="/assets/avatar3.png">
        </ion-avatar>
        <ion-label>
         <b>Homar Hassid</b>
         <p>Assistenza Medica</p>
         <p>23/12/2019</p>
             <p>Saldo:<ion-icon slot="start" color="medium" name="remove-circle"></ion-icon>3h</p>
          <p class="ricevuta">Attività: Ricevuta</p>  	
         </ion-label>
         <ion-icon slot="start" color="medium" name="arrow-forward"></ion-icon>
      </ion-item>

      <ion-item [routerLink]="'/attivita-svolte'">
          <ion-avatar slot="start">
              <img src="/assets/avatar6.png">
          </ion-avatar>
          <ion-label>
           <b>Anna Tommasino</b>
           <p>Assistenza Informatica</p>
           <p>07/11/2019</p>
               <p>Saldo:<ion-icon slot="start" color="medium" name="add-circle"></ion-icon>2h</p>
            <p class="offerta">Attività: Svolta</p>  	   
          </ion-label>
          <ion-icon slot="start" color="medium" name="arrow-back"></ion-icon>
      </ion-item>

    <ion-item [routerLink]="'/attivita-ricevute'">
        <ion-avatar slot="start">
            <img src="/assets/avatar5.png">
        </ion-avatar>
        <ion-label>
         <b>Marco Galdi</b>
         <p>Consulenza Personal Trainer</p>
         <p>06/11/2019</p>
             <p>Saldo:<ion-icon slot="start" color="medium" name="remove-circle"></ion-icon>2h</p>
          <p class="ricevuta">Attività: Ricevuta</p>  			
        </ion-label> 
        <ion-icon slot="start" color="medium" name="arrow-forward"></ion-icon>
    </ion-item>	  
    
    </ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >
        <ion-tab-button (click)="goToHome()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
         <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <ion-tab-button (click)="goToAttivita()">
          <ion-icon name="construct"></ion-icon>
          <ion-label>Attività</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToRicerca()">
          <ion-icon name="search"></ion-icon>
          <ion-label>Ricerca</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToProfilo()">
          <ion-icon name="person"></ion-icon>
          <ion-label>Profilo</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-toolbar>
</ion-footer>
