<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Attività Offerte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >
        <ion-tab-button class="tab-selected" [routerLink]="'/attivita-new-offerte'">
          <ion-label>Offerte</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/attivita-new-richieste'">
          <ion-label>Richieste</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/attivita-new-crea'">
          <ion-label>Crea</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>

  <!--CARD 1--> 
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle> <b>Titolo Attività: Assistenza Informatica</b></ion-card-subtitle>
  
          <ion-item>
            <ion-avatar slot="start">
               <img src="/assets/avatar4.png">
            </ion-avatar>   
             
            
            <div>
              <b>Luogo:</b> Baronissi (SA)<br>
              <b>Data:</b> dal 09/01/2020 al 28/02/2020<br>
            </div>
      
          </ion-item>

          <ion-item>
            <div>
              <b>Descrizione:</b> Riparazione PC<br>
            </div>
      
          </ion-item>
    </ion-card-header>
    
    <ion-card-content>
        <ion-card-title>Costo: + 2h</ion-card-title>
        <ion-item>
        <ion-button expand="block" [routerLink]="'/elenco-candidati-offerte'">
          <ion-icon name="people"></ion-icon>
        </ion-button>
        
        <ion-button expand="block" [routerLink]="'/modifica-attivita-offerte'">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        
        <ion-button expand="block">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
</ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >
        <ion-tab-button (click)="goToHome()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
         <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <ion-tab-button (click)="goToAttivita()">
          <ion-icon name="construct"></ion-icon>
          <ion-label>Attività</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToRicerca()">
          <ion-icon name="search"></ion-icon>
          <ion-label>Ricerca</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToProfilo()">
          <ion-icon name="person"></ion-icon>
          <ion-label>Profilo</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-toolbar>
</ion-footer>
