<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/attivita-new-offerte'">
       <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Elenco Candidati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--In caso in cui non hai attività candidate-->
  <ion-card class="welcome-card" *ngIf="elencoCandidati == ''">
    <ion-card-header>
      <ion-card-subtitle> <b>Non ci sono candidati</b></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!--<ion-item [routerLink]="'/dettagli-ricerca'" *ngFor="let candidato of elencoCandidati">-->
  <ion-item *ngFor="let candidato of elencoCandidati">
    <ion-avatar slot="start">
        <img src="/assets/avatar10.png">
    </ion-avatar>
    <ion-label>
      <b>{{candidato.nome}} </b>
      <p>{{candidato.competenze}}</p>
      
      
      <div *ngIf="candidato.stato == 'attesa'">
        <ion-button color="success" (click)="accettaCandidato(candidato.id_candidatura)">
          Accetta
        </ion-button>
        
        <ion-button color="danger" (click)="rifiutaCandidato(candidato.id_candidatura)">
          Rifiuta
        </ion-button>
      </div>
      <ion-label *ngIf="candidato.stato == 'accettato'" color="success">{{candidato.stato}}</ion-label>
      <ion-label *ngIf="candidato.stato == 'rifiutato'" color="danger">{{candidato.stato}}</ion-label>

    </ion-label>
  </ion-item>
  
  

</ion-content>

  
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >
        <ion-tab-button [routerLink]="'/home'">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
         <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/attivita-new-offerte'">
          <ion-icon name="construct"></ion-icon>
          <ion-label>Attività</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/ricerca-attivita'">
          <ion-icon name="search"></ion-icon>
          <ion-label>Ricerca</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/profilo-anagrafica'">
          <ion-icon name="person"></ion-icon>
          <ion-label>Profilo</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-toolbar>
</ion-footer>
