<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/attivita-new-offerte'">
       <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Elenco Candidati</ion-title>
    <!-- button chatbot -->
   <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <img src="/assets/chatbot.png" style="height:45px;">
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="primary"><ion-icon name="search"></ion-icon></ion-fab-button>
      <ion-fab-button color="primary"><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--In caso in cui non hai attività candidate-->
  <ion-card class="welcome-card" *ngIf="elencoCandidati == ''">
    <ion-card-header>
      <ion-card-subtitle> <b>Non ci sono candidati</b></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!--<ion-item [routerLink]="'/dettagli-ricerca'" *ngFor="let candidato of elencoCandidati">-->
  <ion-item *ngFor="let candidato of elencoCandidati">
    
    <ion-avatar slot="start">
      <div *ngIf="candidato.id_utente==1"><img src="/assets/avatar4.png" style="height:48px;width:48px;"></div>
      <div *ngIf="candidato.id_utente==2"><img src="/assets/avatar4.png" style="height:48px;width:48px;"></div>
      <div *ngIf="candidato.id_utente==3"><img src="/assets/avatar4.png" style="height:48px;width:48px;"></div>
      <div *ngIf="candidato.id_utente==5"><img src="/assets/giovanni.jpg" style="height:48px;width:48px;"></div>
      <div *ngIf="candidato.id_utente==4"><img src="/assets/daniele.jpg" style="height:48px;width:48px;"></div>
      <div *ngIf="candidato.id_utente==6"><img src="/assets/diletta.jpg" style="height:48px;width:48px;"></div>
   </ion-avatar>
    <ion-label>
      <b>{{candidato.nome}} {{candidato.cognome}} </b>
      <p>{{candidato.competenze}}</p>
      
      
      <div *ngIf="candidato.stato == 'attesa'">
        <ion-button color="success" (click)="accettaCandidato(candidato.id_candidatura)">
          Accetta
        </ion-button>
        
        <ion-button color="danger" (click)="rifiutaCandidato(candidato.id_candidatura)">
          Rifiuta
        </ion-button>
      </div>
      <ion-label *ngIf="candidato.stato == 'accettato'" color="success">{{candidato.stato}}</ion-label>
      <ion-label *ngIf="candidato.stato == 'rifiutato'" color="danger">{{candidato.stato}}</ion-label>

    </ion-label>
  </ion-item>
  
  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >
        <ion-tab-button (click)="goToHome()">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
         <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <ion-tab-button (click)="goToAttivita()">
          <ion-icon name="construct"></ion-icon>
          <ion-label>Attività</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToRicerca()">
          <ion-icon name="search"></ion-icon>
          <ion-label>Ricerca</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goToProfilo()">
          <ion-icon name="person"></ion-icon>
          <ion-label>Profilo</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </ion-toolbar>
</ion-footer>

